@model DashBoard_MotoManager.Models.MotoTypeVM
@{
    ViewData["Title"] = "SeeDetail";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="bg-light rounded shadow p-4" style="max-width: 800px; width: 100%;">
        <h4 class="mb-4 text-center">Thông Tin Loại Xe</h4>
        <form method="post" asp-controller="MotoType" asp-action="SeeDetail" asp-route-brandId="@Model.MaLoai">
            <div class="mb-3">
                <label for="brandName" class="form-label">Tên Loại Xe</label>
                <input type="text" class="form-control" asp-for="@Model.TenLoai" placeholder="Nhập tên loại xe" required>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Đối Tượng Sử Dụng Phù Hợp</label>
                <input type="text" class="form-control" asp-for="@Model.DoiTuongSuDung" placeholder="Nhập người sử dụng phù hợp" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô Tả Ngắn</label>
                <textarea class="form-control" asp-for="@Model.MoTaNgan" placeholder="Mô tả ngắn về loại xe" rows="4"></textarea>
            </div>
            <div class="text-center mt-4">
                <a asp-controller="MotoType" asp-action="ListType"
                   class="btn btn-primary px-4">
                    Quay Lại
                </a>
            </div>
        </form>
    </div>
</div>

